* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  padding: 3rem 10rem;
}

.btn {
  display: inline-block;
  border: none;
  outline: none;
  background: #4086a1;

  color: whitesmoke;
  cursor: pointer;
  padding: 7px 20px;
}

.btn:hover {
  background: #4b9bbb;
}